
body {
	padding: 40px;
	font-family: Tahoma;
	background:#F0F0F0;
	/* #F5EDDB #F6EEEE */
}


body, p { font-size: 20px; }

body { 
	background: url(images/back.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.countryIpt {
	height:30px;
	width:400px;
	font-size: 25px;
}

.btn {
	width:150px;
	height:45px;
	font-size:20px;
	color:white;
	background-color:green;
	border: none;
	border-radius:6px;
	cursor: pointer;
	
}



.favBtn {
	font-size:14px;
	width:100px;
	background-color:#4285F4;
}
.myTable {border-collapse: collapse;}
.myTable td, .myTable th {
	border-bottom: 2px solid lightgrey;
	padding: 20px;
	text-align: center;
}