body {
  background: url("../images/back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Tahoma;
  font-size: 20px;
  color: #696969;
  margin: 0;
}
.btn,
.primary-btn {
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.primary-btn {
  background-color: #4285F4;
  width: 150px;
  height: 45px;
  font-size: 20px;
}
.primary-btn:hover {
  box-shadow: 3px 4px 5px #696969;
}
nav {
  height: 60px;
}
h1 {
  margin-left: 40%;
}
#container {
  padding-top: 40px;
  padding-left: 60px;
}
.text-input {
  height: 30px;
  width: 400px;
  font-size: 25px;
  color: #696969;
  border-radius: 6px;
  border: none;
}
#sortTemplate {
  margin-left: 60%;
}
#sortTemplate select {
  height: 30px;
  width: 400px;
  font-size: 25px;
  color: #696969;
  border-radius: 6px;
  border: none;
  width: 200px;
  font-size: 20px;
}
#sortTemplate button {
  width: 80px;
  height: 30px;
}
.country-card {
  width: 400px;
  height: 660px;
  border-radius: 6px;
  background: white;
  box-shadow: 2px 3px 12px 3px #83878D;
  float: left;
  margin: 10px;
}
.country-card a {
  text-decoration: none;
  font-size: 80%;
  margin-left: 25px;
  color: #83878D;
}
.country-card hr {
  border: none;
  height: 1px;
  color: #4285F4;
  background-color: #4285F4;
}
.title {
  width: 400px;
  float: left;
}
.title img {
  padding: 10px;
  float: left;
}
.title .country-name {
  font-size: 25px;
  width: 250px;
  float: left;
  padding: 10px;
  font-weight: bold;
}
ul {
  list-style: none;
}
ul li {
  font-size: 90%;
  width: 350px;
}
ul li .left {
  width: 100px;
  display: inline-block;
}
ul li .right {
  font-size: 110%;
  font-weight: bold;
}
.fav-btn,
.rem-btn {
  font-size: 22px;
  margin-left: 20px;
  padding: 5px;
  color: #4285F4;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.fav-btn:hover {
  text-shadow: 1px 1px #83878D;
}
.rem-btn {
  color: red;
}
.rem-btn:hover {
  font-size: 125%;
}
.nav-btn {
  background: none;
  color: #FDFDFB;
  font-size: 120%;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 60px;
  margin-top: 10px;
  cursor: pointer;
}
.nav-btn:hover {
  font-weight: bolder;
}
