
    <div class="country-card">
            <div class="title">
                <img width=100 height=60 src="<%= country.flag %>" >
                <span class= "country-name"><%= country.name %></span>
            </div>
            <img width=400 height=300 src="<%= country.mapURL %>" >
            <div id="country-info">
            <ul>
                <li>
                    <span class = "left" >Capital -</span> 
                    <span class = "right"><%= country.capital %></span>
                </li>
                <li>
                    <span class = "left">Population - </span>
                    <span class = "right"><%= country.population %></span>
                </li>
                <li>
                    <span class = "left">Languages - </span>
                    <span class = "right"><%= country.languages %></span>
                </li>
                <li>
                    <span class = "left">Currency - </span>
                    <span class = "right"><%= country.currencies[0]["name"] %></span>
                </li>
                <li>
                    <span class = "left">Region - </span>
                    <span class = "right"><%= country.region %></span>
                </li>
            </ul>
            </div>
            <hr>
            <button onclick="$(this).html('&#10003')" class="fav-btn">Add to my favorites</button><br>
            <a href="https://en.wikipedia.org/wiki/<%= country.name %>" target="_blank">Click to know more via Wiki</a>
    </div>


