
    <div class="country-card">
            <div class="title">
                <img width=100 height=60 src="<%= country.flag %>" >
                <span class= "country-name"><%= country.name %></span>
            </div>
            <img width=400 height=300 src="<%= country.mapURL %>" >
            <ul>
                <li>Capital - <span><%= country.capital %></span></li>
                <li>Population - <span><%= country.population %></span></li>
                <li>Languages - <span><%= country.languages %></span></li>
                <li>Currency - <span><%= country.currencies[0]["name"] %></span></li>
                <li>Region - <span><%= country.region %></span></li>
            </ul>
            <button id= "remBtn" class="rem-btn">Remove from my favorites</button>
    </div>


